    @font-face{
        font-family:"Sero Pro";
        src:url("../fonts/1467649/d4fdf725-4cc0-477c-ba98-2819e00444e3.eot?#iefix");
        src:url("../fonts/1467649/d4fdf725-4cc0-477c-ba98-2819e00444e3.eot?#iefix") format("eot"),url("../fonts/1467649/48c39ee3-9cb8-4974-a766-96e42a55e632.woff2") format("woff2"),url("../fonts/1467649/c0270dc7-f91f-4af7-b6c2-a856631f4eac.woff") format("woff"),url("../fonts/1467649/9647e152-ff96-43e0-a4ac-2df844ac5f85.ttf") format("truetype");
    }
    @font-face{
        font-family:"Sero Pro";
        src:url("../fonts/1467665/e19ab8aa-d924-45a8-921f-8d4b75505e63.eot?#iefix");
        src:url("../fonts/1467665/e19ab8aa-d924-45a8-921f-8d4b75505e63.eot?#iefix") format("eot"),url("../fonts/1467665/01083ae7-49f0-442a-a7ff-92b4daddaac3.woff2") format("woff2"),url("../fonts/1467665/a0c73f4e-4e89-4fe8-b843-aa9bdf63d3db.woff") format("woff"),url("../fonts/1467665/92121fe8-4741-417c-a96b-ecf096e7b57f.ttf") format("truetype");
    }
    @font-face{
        font-family:"Sero Pro";
        src:url("../fonts/1474734/02aeea77-0973-4a1e-bb4a-dac31534017c.eot?#iefix");
        src:url("../fonts/1474734/02aeea77-0973-4a1e-bb4a-dac31534017c.eot?#iefix") format("eot"),url("../fonts/1474734/21f52655-1b7e-4bab-bcaa-05df511c3d14.woff2") format("woff2"),url("../fonts/1474734/15a5ec97-1793-46ed-bd91-01639eaf6e27.woff") format("woff"),url("../fonts/1474734/15536b7e-2504-4f20-8700-2dfc49197c8f.ttf") format("truetype");
    }
    @font-face{
        font-family:"Sero Pro";
        src:url("../fonts/1474776/2b57cccf-0507-43b9-9b6f-101e1217625a.eot?#iefix");
        src:url("../fonts/1474776/2b57cccf-0507-43b9-9b6f-101e1217625a.eot?#iefix") format("eot"),url("../fonts/1474776/c73135ed-27a9-492a-a805-3a2499d982c9.woff2") format("woff2"),url("../fonts/1474776/9e461633-b72d-494e-9e93-cdb042d90f47.woff") format("woff"),url("../fonts/1474776/493bb84b-e49d-423e-a5ae-b410bdd8cd14.ttf") format("truetype");
    }
