---
title: Your payment forms with ProcessOut.js
---

## Your own payment forms

While the ProcessOut payment modal is a great way to start, it isn't that
customizable. `ProcessOut.js` lets you entirely control the payment flow
on your own pages and removes any ProcessOut branding- effectively making
ProcessOut invisible to your end-user. `ProcessOut.js` is available and free
for every ProcessOut user.

<hr>

#### Common payment flow

A common payment flow is composed of the following steps:

* The customer enters its credit card information on the merchant's website
* ProcessOut.js creates a secure token from the card and returns it to the merchant's script
* The merchant sends the token back to its backend and captures the payment

Behind the scenes, ProcessOut will encrypt the credit card information, send it to the ProcessOut PCI-compliant vault to tokenize it, and return the created token to the merchant. This effectively makes the merchant escape from the PCI DSS nightmare by being compliant with the PCI Self-Assessment Questionary.

ProcessOut offers two solutions to merchants to be compliant with either the PCI SAQ A-EP for PCI SAQ A. The former offers the merchant more control over its payment form as it is fully managed by the merchant, but increases the PCI DSS scope for the merchant (and complicates the Self-Assessment Questionary).

<div class="row margin-top" style="margin-bottom: 4em;">
    <div class="medium-6 columns">
        <a href="/payments/processoutjs-hosted-fields/" class="no-redirect">
            <div class="shadow-background rounded" style="width: 100%;">
                <div class="row">
                    <div class="medium-10 columns">
                        Use hosted inputs <span style="opacity: 0.4;">— (recommended)</span>
                        <p style="color: black;">
                            Compliant with PCI SAQ A
                        </p>
                    </div>
                    <div class="medium-2 columns text-right" style="font-size: 2em;">
                        &rarr;
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="medium-6 columns">
        <a href="/payments/processoutjs-self-hosted-form/" class="no-redirect">
            <div class="shadow-background rounded" style="width: 100%;">
                <div class="row">
                    <div class="medium-10 columns">
                        Use your own form inputs
                        <p style="color: black;">
                            Compliant with PCI SAQ A-EP
                        </p>
                    </div>
                    <div class="medium-2 columns text-right" style="font-size: 2em;">
                        &rarr;
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

#### What's next?

We've sent the card token back to our server. Let's use it to 
[capture a payment &nearr;](/payments/capture-a-payment) or to 
[create a subscription &nearr;](/subscriptions/get-started).