<div class="language-selector-front">
    <a href="#" data-language="javascript" class="selected">Web</a> 
    <a href="#" data-language="swift">iOS</a> 
    <a href="#" data-language="java">Android</a> 
</div>
    