## Welcome!

Greetings on the <span class="processout">ProcessOut</span> documentation. 
The <span class="processout">ProcessOut</span> documentation offers
a few guides to get you started quickly. If at any time you'd rather
read our API references, those are available [here &nearr;](refs/index.html).

<div class="row margin-top" style="margin-bottom: 4em;">
    <div class="medium-4 columns">
        <a href="/payments/payment-modal.html">
            <div class="shadow-background">
                Accept payments &rsaquo;
                <p style="color: black;">
                    Accept payments online from everywhere.
                </p>
            </div>
        </a>
    </div>
    <div class="medium-4 columns">
        <a href="/payments/processoutjs.html">
            <div class="shadow-background">
                ProcessOut.js &rsaquo;
                <p style="color: black;">
                    Accept payments with your own style.
                </p>
            </div>
        </a>
    </div>
    <div class="medium-4 columns">
        <a href="/subscriptions/getting-started.html">
            <div class="shadow-background">
                Subscriptions &rsaquo;
                <p style="color: black;">
                    Manage recurring billing for your business.
                </p>
            </div>
        </a>
    </div>
</div>

<hr>

#### Available libraries

<span class="processout">ProcessOut</span> offers a few handy libraries so
you don't have to re-implent raw HTTP requests and make it easy right
from the start. Below is the list of the currently officially supported
<span class="processout">ProcessOut</span> libraries/packages:

* [processout-go](https://www.github.com/processout/processout-go)
* [processout-php](https://www.github.com/processout/processout-php)
* [processout-node](https://www.github.com/processout/processout-node)
* [processout-python](https://www.github.com/processout/processout-python)
